#show-pet {
  display: none;
}

#name-type {
  cursor: pointer;
  color: #0088cc;
}

#name-type:hover {
  text-decoration: underline;
}

#name-type li {
  display: inline-block;
}

ul {
  text-decoration: none;
}

.adopted {
  color: green;
}
